# SPDX-License-Identifier: GPL-2.0
# Configuration for diagnostics from mshv (mshv_diag)
#

config MSHV_DIAG
        tristate "Interface to get telemetry/diagnostics from mshv"
        depends on HYPERV
        help
          In a configuration with Linux as Root Partition, this driver
          exposes diagnostics/telemetry from Microsoft Hypervisor (mshv) to
          userpace.

          Diagnostics could include Diagnostic(error) Logs,
          Performance Tracing and System Event Logs.

          To compile this as a module, choose M here.

          If unsure, say N.