CONFIG_LOCALVERSION="-lvbs"
CONFIG_LOCALVERSION_AUTO=n
CONFIG_HYPERV_NONTLFS_HEADERS=y
CONFIG_DEBUG_INFO_BTF_MODULES=n
CONFIG_DYNAMIC_DEBUG=n
CONFIG_DYNAMIC_DEBUG_CORE=n
CONFIG_HEKI_MENU=y
CONFIG_HEKI=y
CONFIG_HYPERV=y
CONFIG_HYPERV_VSM=y
CONFIG_MODULE_SIG=y
CONFIG_KUNIT_AUTORUN_ENABLED=n
CONFIG_MODULE_SIG_FORCE=y
CONFIG_IMA=n
CONFIG_CRASH_HOTPLUG=n
CONFIG_JUMP_LABEL=y
CONFIG_KEXEC=n
